Package: com.alightmotion.autoexport
Name: AlightMotionAutoExport
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Auto-save export, notify, add 120 FPS, and import projects from share links
Maintainer: Cracked-2m96
Author: Cracked-2m96
Section: Tweaks
